[2013-10-10 19:04] filipeximenes opened #1 "Revoke permission function"
Function for revoking permission to a user, similar to the 'grant_permission' one.

[2013-10-10 19:05] filipeximenes opened #2 "Quick Start"
Add a quick start to the documentation.

[2013-10-10 19:13] filipeximenes opened #3 "Add documentation to README"
Not sure if it would be a good idea given the size it would need to be. Maybe a short version.

[2013-10-15 16:58] #1 closed, assigned to nobody

[2013-10-19 13:54] filipeximenes opened #4 "Document how to test using role-permissions"

[2013-10-19 13:58] filipeximenes opened #5 "Improve mixins and decorators documentation"

[2014-02-05 01:08] pySilver opened #6 "Is it stable?"
Hello,

Is that package production ready?

[2014-02-10 15:05] pySilver opened #7 "Do not use get_user_model in Foreignkeys"
Hello,

Your models uses get_user_model, instead of settings.AUTH_USER_MODEL
See: https://docs.djangoproject.com/en/dev/topics/auth/customizing/#django.contrib.auth.get_user_model

So in current implementation it is not possible to import you models from time to time.

[2014-02-10 16:24] #7 closed, assigned to nobody

[2014-02-11 12:04] pySilver opened #8 "Few notes regading package."
Hi!
# `load_roles_and_permissions()`

Why do you require to run `load_roles_and_permissions()` in urls.py? By doing that you cannot access your roles globally, since urls.py is not always processed (imagine celery tasks). I've tried to move this call into `rolespermissions/__init__.py` and had no problems - all tests passes and I'm no longer obligated to include this call into urls.py and I'm sure

[2014-02-24 20:55] #4 closed, assigned to nobody

[2014-02-24 21:02] #2 closed, assigned to nobody

[2014-02-25 00:38] #8 closed, assigned to nobody

[2014-06-02 02:44] filipeximenes opened #12 "Document "has_role" behaviour"
Make it clear that it always `True` for superusers.

[2014-09-29 23:35] kingctan opened #14 "does it compitiable with django 1.7?"
does it compitiable with django 1.7? thanks.

[2014-10-28 04:23] #6 closed, assigned to nobody

[2014-11-10 23:29] #14 closed, assigned to nobody

[2014-11-11 00:07] #12 closed, assigned to nobody

[2014-11-11 00:34] #5 closed, assigned to nobody

[2014-11-11 12:16] #3 closed, assigned to nobody

[2015-02-24 14:49] johngamarra opened #17 "Error installing with pip"
Hi,

I'm getting this error when trying to install this package with pip:

C:\Python34>cd scripts

C:\Python34\Scripts>pip install django-role-permissions
Downloading/unpacking django-role-permissions
  Downloading django-role-permissions-0.4.2.tar.gz
  Running setup.py (path:C:\Users\Manuel\AppData\Local\Temp\pip_build_Manuel\dja
ngo-role-permissions\setup.py) egg_info for package django-role-per

[2015-02-24 15:00] luzfcb commented on #17
@johngamarra this is a bug.

this is happening because setup.py use Python2 only print function, and in Python3 is now mandatory use `( )` on `print` function

Python2 only:
`print "You probably want to also tag the version now:"`

Python 2 and Python3 compatible

`print("You probably want to also tag the version now:")`

I have not tested, you can download https://github.com/vintasoftware/django-

[2015-02-24 15:07] luzfcb commented on #17
@johngamarra
you can learn more about this by reading:

https://docs.python.org/3/howto/pyporting.html
http://python3porting.com/foreword.html

[2015-02-24 16:03] filipeximenes commented on #17
Thanks @luzfcb!
This django-role-permissions is not currently python3 compatible, but I do wish it was. It would be great if someone could help me with this.

[2015-03-25 10:07] balavec commented on #17
Is it only because of the print function or is there something else ...
@luzfcb is there an alternative for Python3 ?

[2015-06-26 21:07] filipeximenes commented on #17
This is now Python 3 compatible. =)

@balavec
@luzfcb
@johngamarra

[2015-06-26 21:07] #17 closed

[2015-06-26 21:11] luzfcb commented on #17
:tada: :dancers: :tada:

[2015-07-20 17:59] fjsj opened #19 "Small issue on allowed_roles on docs"
On docs, `allowed_roles` should use roles instead of strings

[2015-08-28 04:49] aarcro opened #20 "Exclusive use of Groups"
I think it's a mistake to assume each user is in a single group related to a single role. In 685243908098f9389f4e9c0ac9e5c9de6a6a1694 you removed the UserRole model but I'd like to see it restored.

I was expecting that 'role' was entirely separate from groups. I intend to have my Users in groups by team, and given a role 'team_member' they would be granted the permission 'change_team_documents'.

[2015-08-28 04:56] aarcro commented on #20
...Actually the one use of default False ``available_permissions`` is that they will be removed when the old role is removed by ``assign_role_to_user`` which might not actually be expected.

[2015-08-28 12:47] filipeximenes commented on #20
The change from having UserRole to using Groups was due to feedbacks I got from other people.

For the sake of simplicity, I assumed Groups would only be used for managing roles, and that's why all user groups are deleted before a new one is assigned. Your approach is more correct, this library should not interfere with Groups beyond the ones it creates.

About ``available_permissions``, they do l

[2015-08-28 12:49] filipeximenes opened #21 "Better document permission handling"
``grant_permission``, ``revoke_permission`` and the way permissions are handle after user role is changed should be more clear on docs.
See #20

[2015-08-28 17:23] filipeximenes commented on #20
It's ready on pypi as version 0.6

[2015-08-28 17:24] #20 closed

[2015-09-03 09:48] DeoLeung opened #23 "duplicate key"
Hello,

I'm using a custom model inherit from AbstractBaseUser and PermissionMixin, which use phone number as primary key. when I trying to use the your module, like:

CustomRole.assign_role_to_user(custom_user) , I got errors:
File "/usr/local/lib/python2.7/dist-packages/rolepermissions/roles.py", line 68, in assign_role_to_user
    permissions_to_add = cls.get_default_true_permissions()
  File "

[2015-09-04 01:05] DeoLeung commented on #23
after hunting down for a whole day the problem comes from the test cases
when using DRF's APITransactionTestCase with reset_sequences=True, the above happens.

[2015-09-04 12:05] filipeximenes commented on #23
Is there something we can do from rolepermissions point o view to fix this?

[2015-09-04 12:56] DeoLeung commented on #23
Thank you Filipe.
I think this shall be a problem in django itself.
I'm still farely new to django , it will be great if you could provide some advise on how to make this work with the Permission model in django's TransactionTestCase with reset_sequences=True.
However this does motivate me to rewrite my tests into normal TestCase which is indeed much faster:)

feel free to close the issue if it's

[2015-09-08 14:25] filipeximenes commented on #23
To be honest, I've never tried it with TransactionTestCase. I'll leave this open until me (when I get some time to play with it) or someone else comes up with a solution.

[2015-09-28 13:41] DeoLeung opened #24 "Django 1.9 warning"
Receiving following warnings, shall update the import, not urgent anyway.

/usr/local/lib/python2.7/dist-packages/rolepermissions/loader.py:4: RemovedInDjango19Warning: django.utils.importlib will be removed in Django 1.9.
  from django.utils.importlib import import_module

https://docs.djangoproject.com/en/1.8/releases/1.7/#django-utils-dictconfig-django-utils-importlib

[2015-09-28 13:49] filipeximenes commented on #24
Yes, Django 1.9 is on it's way, we should fix this.
Thanks for creating the issue.
A PR with a fix would also be much appreciated since i'm bit short on time.

[2015-10-20 07:43] jassi5887 opened #25 "available_perm_status: 'UserPermission' is not defined"
Hi,
I am trying to use it with Django1.8 but I keep getting **'UserPermission' is not defined**. Following is what I did and yes I have included it in settings.py and migrated:

    from college.roles import Student
    student = User.objects.get(username='jassi')
    Student.assign_role_to_user(student)
    from rolepermissions.shortcuts import available_perm_status
    permis = available_perm_st

[2015-10-20 12:31] filipeximenes commented on #25
Awkward. This method has code from a very old version of role-permissions and for some reason was not tested.
Working on it now.

[2015-10-20 12:55] filipeximenes commented on #25
Fixed. Update from pypi to version 0.6.1 and it should work.

[2015-10-20 12:55] #25 closed

[2015-10-20 13:03] jassi5887 commented on #25
it works now, thanks !

[2015-10-22 13:34] filipeximenes commented on #24
On pypi as version 0.6.2

[2015-10-22 13:34] #24 closed

[2015-10-28 12:23] #21 closed

[2015-10-28 12:29] filipeximenes commented on #19
Both way works

[2015-10-28 12:29] #19 closed

[2015-11-27 19:21] fjsj opened #33 "Use Gemnasium to fix out-of-date requirements"
https://gemnasium.com/

[2015-12-20 01:21] filipeximenes opened #34 "Django 1.9 support"

[2015-12-20 01:21] filipeximenes commented on #34
Working on branch django19

[2016-01-08 07:44] AdrianRibao commented on #34
Hi,

is this ready to be merged?

Thanks!

[2016-01-08 13:17] filipeximenes commented on #34
It's not merged yet because I didn't have a chance to test in a real project yet. I think I can do it by next week, but if you are available, could you give it a try and let me know it works correctly?

[2016-01-13 12:55] filipeximenes opened #35 "Make it an authentication backend"

[2016-01-13 18:55] filipeximenes commented on #34
Merged

[2016-01-13 18:55] #34 closed

[2016-01-20 07:28] iraycd opened #37 "Revoking the role"
I find revoke permission.
But, I want to revoke the role instead.

[2016-01-20 18:48] filipeximenes commented on #37
Yes, we do need this, thanks for pointing out

[2016-01-20 19:28] iraycd commented on #37
:+1: Thank you.

[2016-01-22 16:12] cormier opened #38 "Support multiple roles"
From what I've seen in the code, it seems that though the app could support multiple roles per user, it supports only one.

For example `assign_role_to_user` will delete all of the user's previous roles:
https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/roles.py#L50

And `get_user_role` explicitely return only the first role if the user has multiple roles:
https:

[2016-01-25 14:15] filipeximenes commented on #38
Yes, the app was though for a role per user. In most scenarios this works well and you can manage more specific stuff using permissions.
When you assign a role to a user you can still change it's permissions, so it's a very flexible approach.

Could you tell me more about your use case?

You are welcome to propose a new interface to allow a user having multiple roles. Please send some examples on

[2016-01-25 15:44] lucaswelper commented on #38
I'm not currently using django-role-permissions, but have it in mind for a couple projects I'd like to replace at work and was initially put off by the lack support for multiple roles.

All of our current systems allow multiple roles be assigned to a single user.  We have situations such as:

It would be possible to create a third role, reviewer_with_readonly, but I think this approach would resul

[2016-02-11 12:04] ChristofferKarlsson commented on #38
If you have a site with multiple apps where different users have different roles in each app, it would be very convenient to be able to assign roles. One such use case could be a site with the following apps and their respective roles (pretty close to a project I run):
News: news_publisher, news_reviewer
Articles: article_publisher, article_reviewer
Forum: forum_admin, forum_moderator
Mail-list: m

[2016-04-01 14:46] huogerac opened #39 "HasRoleMixin could redirect to login page"
I've just started using the django-role-permissions and loved it.

I'd like to block my Views (CBV) for specific Roles:

[code]

It's working in terms of permissions, however, I'd like to be redirect to the login page when I have no permission or not logged in rather than get a 403 Forbidden error.

My solution today is using role-permissions + django-braces where I do something like bellow rather

[2016-04-18 12:35] filipeximenes commented on #39
Hi @huogerac, sorry for taking so long to answer, was little short on time.
Thanks for reporting this, what you can do is create another mixin, that extends `HasRoleMixin` and `try/excepts` looking for `PermissionDenied` exception, if it's raised you would redirect to login view.
A PR with this would certainly be very welcome.

[2016-04-19 20:43] huogerac commented on #39
Hey Filipe, I'll try to do what you've recommended. I hope to push a PR soon.
Cheers

[2016-04-20 04:02] huogerac opened #40 "Error running the tests"
Hi,

When I was running the tests: `python setup.py test`

I got the following error, am I doing something wrong?

[code]

Cheers

[2016-04-20 04:14] huogerac commented on #39
Hi @filipeximenes, I've tried a different approach than extending the `HasRoleMixin`, please let me know if you don't like it.
I tested in my current project and it worked very well, I couldn't run the internal tests (see the Issue #40)

Cheers and I hope this make sense...

[2016-04-20 12:04] filipeximenes commented on #40
Hey, sorry for this. The README was giving the wrong instructions, just updated it.
Please run tests with `tox`.

[2016-04-20 12:05] #40 closed

[2016-05-18 20:11] CarlosBorroto commented on #38
+1 for multiple roles support.

Not my use case but I think a good example in support of multiple rules. In a school environment I can see a user playing several of these roles.

Roles:
Principal, Teacher, Teacher Assistant, Admin Staff, Staff, Student

[2016-06-07 22:49] filipeximenes opened #43 "Form field"

[2016-06-07 22:49] filipeximenes opened #44 "Model field"

[2016-06-07 22:50] filipeximenes opened #45 "Verbose name to role"

[2016-06-07 22:50] filipeximenes commented on #45
Also add a template tag to retrieve it.

[2016-06-09 17:32] avelis opened #46 "[Enhancement] Add name value to Permissions object creation in AbstractUserRole."
The following line:
[code]
Ends up with not very descriptive permissions names e.g. ` auth | user | `. The lack of name leaves the last value of the string representation of the object blank.

It would be a nice enhancement to have the ability to "Capital Case And Space" the `permission_name` assigned to the `codename` value in the Permissions object instance.

This would in turn allow for the fol

[2016-06-15 22:18] RossLYoung opened #47 "Template tag requires snake case, rather than camel case"
The docs say camel case, but snake is required.

{% if user|has_role:'full_time_staff,hospitality' %}
{% endif%}

rather than

{% if user|has_role:'fullTimeStaff,hospitality' %}
{% endif%}

[2016-06-21 19:29] filipeximenes opened #48 "CheckObjectPermissionMixin mixin"
[code]

[2016-06-21 22:06] filipeximenes commented on #47
You absolutely right! Thanks for reporting!

[2016-06-21 22:17] filipeximenes commented on #46
Hi @avelis, this does makes sense. I not sure how we would be able to do this. I imagine there could be some mapping in the `Role` to specify this. Something like:

[code]
Is something like this what you have in mind?

[2016-06-22 15:18] avelis commented on #46
@filipeximenes That works for me!

My solution (like in my mind only) was to transform the dictionary key string into a readable name value. Since `camelToSnake` is in this library, I had thoughts of making a "capticalCaseAndSpace" method that would perform the transformation of a dictionary key values. (e.g. `capticalCaseAndSpace("manage_tickets")` would return `"Manage Tickets"`.

With that said

[2016-06-23 13:54] filipeximenes opened #49 "assign_role helper function"
[code]

[2016-07-01 14:25] #47 closed

[2016-07-01 16:19] #49 closed

[2016-07-11 18:11] giocalitri commented on #38
+1 also from me.
My use case is that I have multiple roles with not overlapping permissions ("forum admin", "chat admin", "site staff", etc.) and I want to assign many roles to the same user and not create superset of permissions.

I might be able update the code by myself, but I would like some hints about what I should take in account.
My idea was to modify `assign_role_to_user` in a way that I

[2016-07-12 13:07] filipeximenes commented on #38
@giocalitri it should take a little more than that. Many functions assume a single role, we will need to change the way we check for roles and permissions.

[2016-07-12 13:11] giocalitri commented on #38
@filipeximenes I understand. I might still be able make the work if I have a clear list of what I need to modify.

Sorry for putting pressure, but I have a strict deadline and if this does not work for you I need to move on and find another solution.

[2016-07-12 18:01] filipeximenes commented on #38
@giocalitri You will need to check on all functions in these files:

https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/verifications.py

https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/shortcuts.py

Some notes:
- `remove_role` will need to receive the name of the role
- We will need a function to remove ALL roles at once
- Be

[2016-07-12 18:16] giocalitri commented on #38
@filipeximenes Thanks for the input.
I will start to work on this from, likely, tomorrow.
I plan to have a PR by the end of next week.

When do you plan to release 2.0?

[2016-07-12 18:24] filipeximenes commented on #38
@giocalitri As soon as we meet all the requirements for a stable release (a.k.a. do everything in the notes above :P)

[2016-07-12 18:28] giocalitri commented on #38
@filipeximenes Great!
I am sure I will have some other questions: is this issue a good way to discuss?

[2016-07-12 18:30] filipeximenes commented on #38
Yes, this way everyone can participate.

[2016-07-26 09:44] karamanolev opened #52 "SystemError exception when an AppConfig dotted path specified in INSTALLED_APPS"
In older Django versions, in settings.py in INSTALLED_APPS one used to specify the name of a module. In recent Django versions (I think 1.7+) you can specify a dotted path to an AppConfig instance and I even think that's the default, since it's listed as the first option to include apps: https://docs.djangoproject.com/en/1.9/ref/applications/#configuring-applications or to quote directly "To confi

[2016-07-26 13:45] filipeximenes commented on #52
Thanks for reporting @karamanolev, will investigate how to solve this. If you have some clue, please let me know and feel free to make a PR with the fix.

[2016-07-26 13:56] karamanolev commented on #52
@filipeximenes I understand the exception, but I have no clue how to fix it. If you have some time to investigate, I would appreciate that. If not, please let me know here and I could spend an hour or two to look into it today or tomorrow.

[2016-07-26 14:07] filipeximenes commented on #52
Thanks @karamanolev, probably wont be able to investigate this today, maybe later this week.

[2016-07-26 14:08] filipeximenes commented on #52
Also, happy to upload it to PyPI as soon as we have a working solution

[2016-08-02 07:24] johandc commented on #35
:+1:

[2016-08-08 16:54] andersonresende commented on #52
@karamanolev fixed and deployed as version 1.2.1

[2016-08-08 16:55] #52 closed

[2016-08-11 21:28] #39 closed

[2016-09-06 12:17] msamoylov opened #54 "Using package with Factory Boy"
Hi. I'm having issues with creating a factory for my roles. Any ideas how to fix that? Thanks!

**roles.py**

[code]

**factories.py**

[code]

My test are throwing errors like:

[code]

[2016-09-06 12:34] msamoylov commented on #54
I shouldn't be accessing roles directly with a class name. `role = factory.PostGeneration(lambda obj, create, extracted, **kwargs: assign_role(obj, 'evaluator'))` does the trick.

Sorry for the false alert and thank you for your great package.

[2016-09-06 12:34] #54 closed

[2016-11-03 12:20] fjsj opened #55 "Include test against Django latest to catch new version errors?"
See: https://github.com/carltongibson/django-filter/blob/develop/tox.ini

[2016-11-03 12:23] fjsj opened #56 "Use bumpversion"
See: https://github.com/peritus/bumpversion
Example: https://github.com/carltongibson/django-filter/blob/develop/.bumpversion.cfg

[2016-11-03 12:47] fjsj commented on #55
Combined with: https://nightli.es/

[2016-11-17 14:44] fjsj opened #58 "Add supported Django versions to README and docs"

[2017-02-03 11:21] bartonaz commented on #38
@filipeximenes Was there any progress on this? According to the docs, there is still no support of multiple roles per user.

[2017-02-03 14:48] filipeximenes commented on #38
@bartonaz I haven't head from @giocalitri so far

[2017-02-17 20:55] filipeximenes opened #61 "Super users should not be granted permission by default"
https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/verifications.py#L13

https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/verifications.py#L38

https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/verifications.py#L53

[2017-03-02 00:41] kavdev commented on #38
@filipeximenes @bartonaz @giocalitri: Luckily my work needs this, so if nothing comes up, I should be able to get a PR in by the end of the week.

[2017-03-02 00:46] kavdev commented on #61
^ Interesting bot.

@filipeximenes: Are you thinking a settings variable? It's fairly useful to not have to add all roles to a superuser, but I can see instances (for testing, mainly) where being able to turn this functionality off is useful.

[2017-03-02 09:41] filipeximenes commented on #61
@kavdev Yes, that's my plan. I still not sure if granting all permissions to admin should be the default behavior or if it should require changing the settings variable. My personal opinion now a days is that admins should not have access by default. Just because it is confusing and error prone. No users should have default access to any permissions unless they are explicitly assigned. At the same

[2017-03-02 17:19] kavdev commented on #61
@filipeximenes Either way works for me. My thought is that if you set someone as a superuser, most times that user is a developer and has a way to gain access to everything regardless.

I mean manually tweaking the interface.

Superuser default pros: You don't need to manually assign roles to the superuser in order to view sections of the app that are role-restricted. If a user is having an issue,

[2017-03-07 22:15] g20ready commented on #38
@kavdev I have also implemented a similar functionality. you might want to take a look [here](https://github.com/g20ready/django-role-permissions). I still haven't finished with testing and the specs i want to use but still its functional.

[2017-03-09 18:05] filipeximenes commented on #37
There's already a function for this

[2017-03-09 18:05] #37 closed

[2017-03-09 18:06] filipeximenes commented on #23
I'll close this issue for now

[2017-03-09 18:06] #23 closed

[2017-03-09 19:58] filipeximenes commented on #38
This is up on PyPI as version 2.0.0.
Thanks very much for everyone's contributions, and @kavdev for the PR.

[2017-03-09 19:58] #38 closed

[2017-03-09 23:34] kavdev opened #65 "Add a management command to sync roles/permissions"
If the available_permissions dict on a Role changes, I'm pretty sure it won't be in sync with the groups/permissions set in the database unless the roles get re-assigned.

We don't plan on explicitly removing permissions in our project, so our solution is a management command that checks which roles each user has, clears them, and then reassigns them.

Not sure how you want to go about this, but I

[2017-03-09 23:39] kavdev opened #66 "Add an admin widget to manage Roles"
I'm not sure this is even possible, but it would be pretty cool to have some sort of admin UI for adding and removing roles and permissions

[2017-03-10 14:15] filipeximenes commented on #65
I've thought about this before and decided not to take part in people's business logic. I do believe that the use case you mentioned is the most common but I think it's safer if we leave that kind of 'migration' to be done manually by  each developer. This way they will be forced to think about how they want to approach it. My concern is that doing any automatic change in permissions is dangerous

[2017-03-10 14:51] filipeximenes commented on #66
So something more customized than the default Django widget for groups and permissions, right?
Do you have some ideas on how this would look?

[2017-03-10 18:04] kavdev commented on #65
Makes sense.

[2017-03-10 18:04] #65 closed

[2017-03-10 18:08] kavdev commented on #66
Exactly. The normal Django widget operates outside of the constraints (and get_or_create handiness) offered by django-role-permissions. I have no idea how to go about this yet or how it would look; it's something on my list to research.

Essentially, it would just need to have some way to call ``assign_role()``, ``remove_role()``, and ``clear_roles()`` with an input for the desired role.

[2017-03-23 11:51] karamanolev opened #67 "Support for Django 1.11"
Django 1.11rc1 is out now and the feature-set is frozen. Can you please add support for the new version to django-role-permissions as we want to start testing with the new release?

[2017-03-23 13:52] filipeximenes commented on #67
Hi @karamanolev, I just pushed some changes to things that were breaking to the latest Django to master. But I could not trace where it is raising the error you mentioned. The only place it could be happening is in the `__init__.py` but the `StrictVersion` call is wrapped in a try catch and it's not supposed to raise this. Can you provide more information?
As soon as we have this sorted I can push

[2017-03-23 14:19] karamanolev commented on #67
@filipeximenes I was using an older version of django-role-permissions. It should be fine. Sorry about the alarm.

[2017-03-23 15:11] filipeximenes commented on #67
@karamanolev full Django 11 support on PyPI as version 2.0.1

[2017-03-23 15:11] karamanolev commented on #67
@filipeximenes Thank you so much! I'll let you know if we experience issues.

[2017-04-25 21:35] ishrivatsa opened #69 "Checker always returns True result"
Hi, The checkers method is returning permission result as available, when we assign a role and remove it.

[2017-04-26 12:58] filipeximenes commented on #69
Hi @ishrivatsa, can you provide more context? What version of the lib are you using? Can you provide a sample of the code you are seeing this behavior (please provide the role class)? Which checker method are you using?

[2017-04-26 20:53] ishrivatsa commented on #69
<class 'tml.roles.Doctor'>

True

True

The second time I run the has_permission, it should have returned false.

I am running python 3.5 in a virtual env. Django 1.10.2

Thank you.

[2017-04-26 21:03] filipeximenes commented on #69
Thanks! I need more information:
- What django-role-permissions version are you using?
- Can you paste the code for the `Doctor` role (or some version of it)?
- Does this user have any other roles assigned?
- Is this happening with fresh created users?

[2017-04-26 21:24] ishrivatsa commented on #69
Hi,
-  I am using version 2.0.1
- Its the exact same code on the tutorial page.

from rolepermissions.roles import AbstractUserRole

class Doctor(AbstractUserRole):
    available_permissions = {
        'create_medical_record': True,
    }

class Nurse(AbstractUserRole):
    available_permissions = {
        'edit_patient_file': True,
    }

- Its happening both with freshly created users and exis

[2017-04-26 21:36] ishrivatsa commented on #69
Hi @filipeximenes ,
 I downloaded the source code from github and imported it into the project. That seems to be working !!

[2017-04-26 21:41] #69 closed

[2017-06-07 19:10] powderflask commented on #61
Suggestion:  if you are adding a settings option to enable / disable all permissions for super-user, do the same for staff users.  In my use-case (and I suspect many), users marked as staff should have all permissions.  It is a bit of a headache keeping that up-to-date with a separate role for staff.

For backwards compatibility, all-permissions for superuser should default to True,  for staff sho

[2017-06-09 11:54] vinyasmusic commented on #69
@ishrivatsa I am facing the same issue. How to solve this ?

[2017-06-10 05:30] vinyasmusic commented on #69
Looked at the code, it always returns true if the user is an superuser/admin
Clarified

[2017-06-12 12:21] filipeximenes commented on #69
@vinyasmusic yes, that's right. It's actually a discussion we are having. Here is the link if you want to contribute: https://github.com/vintasoftware/django-role-permissions/issues/61#issuecomment-306895464

[2017-06-24 09:00] vinyasmusic opened #70 "How do I change the permission for a role rather than a user?"
I have created two roles like this
 `class LevelOne(AbstractUserRole):
    available_permissions = {

        'view_details': True,
        'edit_details': True,
        'drop_tables': False,
        'edit_profile': False,
    }
class LevelTwo(AbstractUserRole):
    available_permissions = {

        'view_details': True,
        'edit_details': True,
        'drop_tables': True,
        'edit_pro

[2017-06-24 22:45] filipeximenes commented on #70
Hi @vinyasmusic, despite allowing default permissions per role, permissions are actually managed in the user level. This means that assigning a role to a user will grant the initial set of default permissions but you are free to change the permissions while keeping the user role. Because of this we decided the library will not interfere with changes in the Role permissions. By doing this we avoid

[2017-08-20 19:57] gehaxelt commented on #66
Hi,
I just discovered this module and would love to see some kind of widget for the django admin backend, too.

Especially, because the permission names do not seem to get translated and/or displayed in the default permissions form:
![permissions](https://user-images.githubusercontent.com/1652523/29497937-e53a87c0-85f1-11e7-9a3c-5cda17312b84.png)

That makes assigning the right permissions a bit h

[2017-08-25 15:39] ftxrc commented on #48
This is great, thanks.

[2017-08-25 16:04] ftxrc commented on #48
I made a few modifications to allow use of messaging framework, and allow guests if an object is published for example. Hope it's of use to someone:

[code]

[2017-09-20 18:04] powderflask commented on #66
I have some code to potentially contribute that makes django-role-permissions play more nicely with the admin.  In the spirit of the module, it simply piggybacks on the existing django user admin group selector.
It has 3 components:

1. a UserAdminMixin class (utilized by an optional custom UserAdmin class) that overrides save_related() to update the user's roles to match the groups selected in th

[2017-09-26 23:16] kavdev commented on #66
@powderflask
1) sounds good! I'd suggest naming it ``RoleManagementMixin`` or something

2) here's our approach:
[code]

3) solid

[2017-10-02 20:38] filipeximenes commented on #66
Hey, let's focus discussion on the PR (https://github.com/vintasoftware/django-role-permissions/pull/72/files) to avoid confusion :)

@kavdev I just made some comments in the PR, would appreciate your contribuitions there as well!

[2017-10-23 08:46] cmaliwal opened #73 "Not supported for rest framework ( django rest api )"
This library not supported for django RESTAPI .

[2017-10-23 17:41] fjsj commented on #73
@cmaliwal please provide a full example. Have you tried using the mixins? http://django-role-permissions.readthedocs.io/en/stable/views_utils.html#mixins

[2017-10-24 03:56] cmaliwal commented on #73
@fjsj I haven't tried mixins in my DRF views.
I am trying to using has_role decorator before my views ( note : i am using Function based Views not class based views ).

I will provide you full code for better understanding.

[2017-10-24 04:01] cmaliwal commented on #73
I am getting error on has_role detectors on line number 17.

user = request.user
Decorator not getting request.user.

[2017-10-27 19:57] filipeximenes commented on #73
@cmaliwal I guess this was solved right? Please reopen if needed.

[2017-10-27 19:57] #73 closed

[2017-10-27 21:42] #58 closed

[2017-11-15 07:01] JoelGoh92 opened #75 "Implementation of instance specific roles?"
Consider the case, where a doctor is assigned patients, and is from a specific hospital
e.g. Hospital_A->Doctor_A->Patient_A
, Hospital_A->Doctor_B->Patient_B
, and Hospital_C->Doctor_C->Patient_C

Doctors have permissions such that they are able to read all records from their assigned hospital, and update the medical record of their assigned patients

In this case, an instance of a doctor should

[2017-12-05 20:50] filipeximenes commented on #75
Hey, sorry for the delay, was on vacation. How about object permission checkers https://django-role-permissions.readthedocs.io/en/stable/object_permissions.html ? Do you think this would suit your needs?

[2017-12-06 08:27] JoelGoh92 commented on #75
Thanks for the reply, I'll take a look into this to see if it can fit my use case

[2017-12-10 13:08] philippeluickx opened #76 "model User is not registered"
[code]

I have 2 roles defined and one superuser that has neither defined (fresh deployment of site), but for which I want to define a role through admin interface.

edit: I am using a custom user model.

[2017-12-13 13:45] filipeximenes commented on #76
@philippeluickx you are using `ROLEPERMISSIONS_REGISTER_ADMIN = True`, right?
For custom user models use the `RolePermissionsUserAdminMixin` (check here http://django-role-permissions.readthedocs.io/en/stable/admin.html?highlight=RolePermissionsUserAdminMixin#RolePermissionsUserAdminMixin)

I guess we should improve the docs for this. I'll leave the issue open util we fix it.

[2017-12-14 10:05] philippeluickx commented on #76
That's indeed what I ended up doing, +1 on improving the docs.
Also, thanks for the admin integration, that really helps a lot!

[2017-12-14 10:39] Allan-Nava opened #77 "Can coexist with django-guardian and django-groups-manager?"
Hi,

I need to implement the permission with a general role for a specific group, like staff group that handle the group.

I explain the example:

[code]

The staff member can handle the group and group descendent
Is possible to implement?

[2017-12-15 12:59] filipeximenes commented on #76
That's all on @powderflask! They did a great job on this!

[2017-12-15 13:17] filipeximenes commented on #77
Hey, I'm not sure I understood your question, but django-role-permissions does not knows how to deal with subgroups.
It's very good to manage generic concepts like `staff` and `player` roles but to be able to deal with per team permissions you will need object level checkers (https://django-role-permissions.readthedocs.io/en/stable/object_permissions.html).

[2017-12-15 13:22] Allan-Nava commented on #77
@felipefarias Ok, I use this library: [django-groups-manager](https://github.com/vittoriozamboni/django-groups-manager) but it depends to django-guardian

[2017-12-15 15:57] philippeluickx commented on #76
https://github.com/vintasoftware/django-role-permissions/pull/78

[2017-12-15 16:26] filipeximenes commented on #76
Awesome! Thank you!

[2017-12-15 16:26] #76 closed

[2017-12-25 23:49] aldo123 opened #79 "Cant access get the functions to return roles in my views or template"
Hi, Great Package, I have a small issue or I am missing something, in any I need help, now I can assign roles, but I can only successfully return when I am using the shell, it completely fails on when trying vies or templates.

Its probably a very easy problem to solve

thanks in  advance.
A

[2017-12-27 04:32] JoelGoh92 commented on #75
@filipeximenes Thanks for the recommendation. The object permission checkers were a good fit for my use case. I was able to utilize the checkers inside permission classes, which are mapped to the different usable HTTP specific methods present in the respective viewset.

[2017-12-27 04:32] #75 closed

[2017-12-27 14:16] filipeximenes commented on #79
Hey, can you provide some more information? What is the code you are running?

[2017-12-27 21:20] aldo123 commented on #79
Thank you for your response, but I fixed the problem

[2017-12-27 22:32] filipeximenes commented on #79
Cool :)

[2017-12-27 22:32] #79 closed

[2018-03-08 04:28] JoelGoh92 opened #80 "Changelog for 2.2.0"
Hi,

I would like to ask if there is any changelog detailing the changes made between versions released, especially between 2.2.0 and 2.1.0?
Thanks

[2018-03-08 15:13] JoelGoh92 commented on #80
@filipeximenes Thanks for the quick response.

The reason why I'm asking for this changelog is because the recent update from 2.1.0 to 2.2.0 broke something on my project's end, when we tried to update this package, which might be related to [issue #76](https://github.com/vintasoftware/django-role-permissions/issues/76) raised previously.

Anyways, will you guys be planning to release a detailed c

[2018-03-25 06:39] kheshav opened #81 "Django-role-permission duplicate queries"
Hello,

Am experiencing duplicate queries for function `has_permission `

I have a decorator as follows:

[code]

Which is called on my django view as decorator:

[code]

The issue is that am experiencing  duplicate queries for each permission in my available_permission:

[code]

Can you please fix it out?

Thank you in advance.

[2018-03-25 15:06] lucabezerra commented on #81
This is completely unrelated to the issue itself, but just a heads up, it seems that you've got a typo in your permission's name at `if has_permission(user, "access_dasboard"):` :)

Someone should be looking at this issue and providing you a proper answer soon.

[2018-03-26 12:59] filipeximenes commented on #81
@kheshav thanks for reporting! Feel free to work on this performance improvement, I'm happy to assist you with the PR process!
The fix will be probably in this function: https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/permissions.py#L52

[2018-03-26 13:02] filipeximenes commented on #80
@JoelGoh92 very sorry for the delay, busy weeks. Yes, let's add changelog to the release process. So you still have have a problem? Is there anything left to be fixed?

[2018-03-26 13:58] JoelGoh92 commented on #80
@filipeximenes Thanks for the response. I've also managed to get around the issue by using the RolePermissionsUserAdminMixin as described in [issue #76](https://github.com/vintasoftware/django-role-permissions/issues/76). Looking forward to the changelog!

[2018-03-26 13:58] #80 closed

[2018-03-27 05:50] kheshav commented on #81
Hello @filipeximenes , thanks for your feedback. I have made a pull request regarding the Issue, [PR 82](https://github.com/vintasoftware/django-role-permissions/pull/82)

The Fix solved the issues of duplicate queries on my side.  :)

Please check and Merge if so required.

Thanks.

[2018-04-01 15:15] lucabezerra opened #84 "Remove CI build for py34-djangolatest"
`djangolatest` is currently >= 2.0, Python 3.4 doesn't seem to be supported by it, according to the CI's errors: https://travis-ci.org/vintasoftware/django-role-permissions/jobs/360877392

[2018-04-01 15:18] lucabezerra commented on #84
@chocoelho Did I get this right or is the error related to a dependency instead of Django?

[2018-04-03 09:56] larspeyer commented on #76
Small add on to the solution of @filipeximenes:
You have to remove the setting `ROLEPERMISSIONS_REGISTER_ADMIN = True` from `settings.py`

[2018-04-11 19:34] chocoelho commented on #84
That's correct. Django 2 dropped support for any Python version lesser than 3.5.

[2018-05-09 11:04] rensg001 opened #86 "The role didn't have permission in database"
I use django 1.9.6
The role created in roles module didn't include permissions in database.

if i have defined Doctor role in roles module and it include create_medical_record permission, then i use sync_roles command, but the group's permission attribute didn't include that permission.

could you fix it?

in addition, could you add a place to define permission name in role class??if some people u

[2018-06-06 12:53] filipeximenes commented on #86
DRP does not handles permissions at Group level

[2018-06-06 12:53] #86 closed

[2018-06-07 10:59] PedroMendes96 opened #88 "Error creating new user"
Hello, i was trying to integrate this package in my project but i got an error when i try to create a new user.

File "C:\Users\PEDROM~1\Envs\dcs\lib\site-packages\django\contrib\auth\base_user.py", line 80, in save
    super(AbstractBaseUser, self).save(*args, **kwargs)
  File "C:\Users\PEDROM~1\Envs\dcs\lib\site-packages\django\db\models\base.py", line 808, in save
    force_update=force_update,

[2018-06-07 12:00] filipeximenes commented on #88
Hi @PedroMendes96, could you provde the code your are running (in your code base) that provoked that error?

[2018-06-07 13:31] PedroMendes96 commented on #88
Hi @filipeximenes , thanks for replying:

Here is the code base:
class Command(BaseCommand):
# command to guarantee the existence of an admnistrator

    def add_arguments(self, parser):
        parser.add_argument('username', nargs='+', type=str,default=None)
        parser.add_argument('email', nargs='+', type=str,default=None)
        parser.add_argument('password', nargs='+', type=str,default=

[2018-06-07 13:38] filipeximenes commented on #88
Thanks! I don't see exactly where you are calling a function from `django-role-permissions`. Perhaps it is in your custom user `save` method?

[2018-06-07 13:47] PedroMendes96 commented on #88
Sorry i forgot.

When i create a user i wanted to give him some permissions, so i created a signal:

@receiver(post_save,sender=settings.AUTH_USER_MODEL)
def give_minimum_roles(sender, instance, **kwargs):
    if sender.is_staff:
        assign_role(sender, 'pedidos')
        assign_role(sender, 'assinaturas')

If i comment this block of code it works fine.

[2018-06-07 13:56] filipeximenes commented on #88
Aha! So, you are doing the operation in the `sender` which is the `User` *model* not an *user model instance*. Replace `sender` with `instance` in the body of that function and it should work

[2018-06-07 14:00] PedroMendes96 commented on #88
Oh... im so sorry i actually did see that mistake! Thank you for the help!

[2018-06-07 14:00] #88 closed

[2018-07-31 16:05] aldookware commented on #81
I there a solution to this problem?

[2018-08-14 19:00] sandeshnaroju opened #90 "AUTH_USER_MODEL improperly configured"
I am getting the following error as soon as I add 'RolePermissionsUserAdminMixin' to my custom user model which is from AbstractBaseUser. I am trying to add Roles and Permissions to django Admin. I have set
 `ROLEPERMISSIONS_REGISTER_ADMIN = True
`
[code]
MY USER MODEL:

[code]

And if I remove the mixin and associated import error goes away. But I want to use this package. I am new to django. hel

[2018-08-16 09:05] sandeshnaroju commented on #90
Anybody take a look at this issue please

[2018-08-28 16:02] filipeximenes commented on #90
Hi @sandeshnaroju, sorry for the delay. Hope you have fixed the issue by now but this probably caused by some other problem in your code not django-role-permissions directly. Please research the error message in the internet. I'll close this for now please open the issue again if you still think the problem is with this library.

[2018-08-28 16:02] #90 closed

[2018-09-25 16:20] tcosta84 opened #91 "Single user with different roles in multiple projects"
I'm working on a project manager tool right now where a single user is a member of multiple projects and in each one he can have a different role.

I'm starting with a standard User object from Django, a Project object and planning to have a junction object between User and Project.

Is it possible to have a role for this junction object?

Thanks!

[2018-10-01 19:46] filipeximenes commented on #91
Hey, sorry for the delay, busy week. Hmm, I don't think this will work. Django Role Permissions works directly with the user model swapping that wouldn't be easy.

[2018-11-30 19:23] powderflask commented on #81
This can be a serious performance hit, which can't be resolved be simply pre-fetching related groups and permissions.
`available_perm_status(user)` makes a query for EACH permission the user has.  I have one 'dashboard' type view that checks about 20 object permissions, each of which might check 2-3 user permissions (e.g., access_any, access_own, etc.) and Users that typically have 10-20 permissio

[2018-12-01 04:31] powderflask commented on #81
Please see PR #93 for my ideas for resolving this.

[2018-12-02 12:33] filipeximenes commented on #84
Done!

[2018-12-02 12:33] #84 closed

[2018-12-02 12:33] filipeximenes commented on #81
Thanks for the great work @powderflask!

[2018-12-02 12:33] #81 closed

[2018-12-02 12:39] filipeximenes commented on #81
Released on PyPI as version 2.2.1

[2018-12-07 00:35] mezitax opened #94 "I do not see selected permissions on admin page"
I've been testing the integration with the admin, I created an "administrator" role with some permissions, run "django-admin sync_roles", but the permission comes out in the list of available permissions and not within the selected group
[code]

![image](https://user-images.githubusercontent.com/1774655/49620121-5d48c800-f99e-11e8-93f8-f22b7b20a249.png)

I'm missing something?

[2018-12-07 11:00] filipeximenes commented on #94
Hey @mezitax, it should show up after the first time you assign this role to a user. Please LMK if this works for you.

[2018-12-07 19:15] mezitax commented on #94
ok, it works!
Now I understand how django-role adds the permissions to the end user and not to the group. it works perfect for me
Thank you

[2018-12-07 19:54] filipeximenes commented on #94
Cool! Closing this!

[2018-12-07 19:54] #94 closed

[2019-02-06 14:09] ajeebkp23 commented on #91
I think, you have to use object permissions. [https://django-role-permissions.readthedocs.io/en/stable/object_permissions.html](https://django-role-permissions.readthedocs.io/en/stable/object_permissions.html)

[2019-03-07 21:39] aquinovo opened #96 "Error with Mixin"
When I use HasRoleMixin and HasPermissionsMixin on class based views. My endpoint always responds with PermissionDenied But with Decorators work correctly on function based views.

@permission_classes((IsAuthenticated, ))
class CompanyList(HasPermissionsMixin, generics.ListAPIView):
    required_permission = 'company_list'

@has_permission_decorator('get_user')
def get_user(request):

[2019-03-09 13:35] filipeximenes commented on #96
Hi @aquinovo maybe the role permissions mixin is not playing well with the `permission_classes` decorator. Could you try using it with the `permission_classes` class attribute instead?

[2019-03-22 09:41] grv1793 opened #97 "sync_roles command not found error when tried to sync the roles using command "django-admin sync_roles""

[2019-03-22 11:54] filipeximenes commented on #91
@ajeebkp23 yes, this would possible work with object permissions, but the Role functionality wouldn't work. I'm closing this for now

[2019-03-22 11:54] #91 closed

[2019-03-22 12:00] filipeximenes commented on #97
Hi @grv1793 can you provide some more information? What versions are you using? What error message did you see?

[2019-03-24 10:23] grv1793 commented on #97
When using "python manage.py sync_roles" it works.
But when using django-admin, i get this error

**Django version:**
(ironman) apples-Air:ironman apple$ django-admin version
1.11.20

**Shell output:**
(ironman) apples-Air:ironman apple$ django-admin sync_roles
No Django settings specified.
Unknown command: 'sync_roles'
Type 'django-admin help' for usage.

[2019-04-14 10:29] ledzgio opened #98 "Is it possible to have levels in roles?"
I am implementing a system where each role (Developer, Influencer, Translator, etc.) can have also levels, so a certain user can be a Level 1 Developer, another user can be Level 2 Translator, and so on. Any idea if it is already possible with this app?

[2019-04-15 12:55] filipeximenes commented on #98
@ledzgio hmm good point. If those roles are fixed (ie.: you always know how many levels there are), you can just have a Role class for each. But they will be isolated, you'll have to provision them as if they were completely unlinked.

[2019-04-15 16:32] ledzgio commented on #98
@filipeximenes yes levels are fixed in my idea, means I should create classes like Developer Level 1, Developer Level 2 and so forth, right?

[2019-04-15 16:48] filipeximenes commented on #98
@ledzgio that's right!

[2019-04-19 16:00] StefanoFioravanzo opened #99 "Role not working with DRF ViewSet"
Hello, I am trying to implement a DRF based application with some object level permissions.

I tired the following simple configuration with not success:

[code]

views.py
[code]

roles.py
[code]

I can successfully login in with `user1`, but calling the get API over that view results in a 403 Forbidden error.

[2019-04-22 15:31] filipeximenes commented on #99
What authentication methods did you enable in your application? Can you send an example on how you are making the request (how are you passing credentials)?

[2019-04-23 07:45] StefanoFioravanzo commented on #99
I am using Django Knox for token based authentication. So I perform authentication by retrieving a token using the `/login` API.

Before testing `django-role-permissions` I made sure that token authentication worked as expected. I set the following settings:

[code]

to require authentication for each view. Then sending a request to a view with the token worked as expected.

I did not change the r

[2019-04-24 10:04] StefanoFioravanzo commented on #99
@filipeximenes I think I might have some wrong configuration. I tried the _Quick Start_ guides from the docs with the same roles defined there (Doctor and Nurse) and I always get true when calling `has_permission()`:

[code]

I tried several other attempts both with `has_permission` and `has_role` functions and they always return `True`, even if they should not.

I am using a custom user model wit

[2019-04-24 12:18] filipeximenes commented on #99
@StefanoFioravanzo this is really weird. The only thing that comes to mind is if you are using a `superuser`:
https://github.com/vintasoftware/django-role-permissions/blob/28924361e689e994e0c3575e18104a1a5abd8de6/rolepermissions/checkers.py#L33

Can you confirm this is not the case?

[2019-04-29 22:11] ferrada01 opened #100 "to use "has_role_decorator" | queryset error"
Hello, when i use the nexts functions
1) has_role_decorator
2) has_permission_decorator

**i recive the next error:**
Traceback (most recent call last):
  File "/home/felipe/Escritorio/switch/enviroment/lib/python3.6/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/home/felipe/Escritorio/switch/enviroment/lib/python3.6/site-packages/

[2019-04-30 13:59] filipeximenes commented on #99
Very weird. Could you try using a `GenericView` instead of a `ViewSet` to see what happens?

[2019-04-30 14:01] filipeximenes commented on #100
Hi @ferrada01. Could you send some code snippet with the code you are trying to run?

[2019-04-30 14:07] ferrada01 commented on #100
--------  in view.py  -------

@has_role_decorator('usuariokami')
def vistaCampana(listas,request):
	.
	.
	.

------ in my_app/role.py ------

class Usuariokami(AbstractUserRole):
    available_permissions = {
    	 #campana_permissions
        'crear_campana': True,
        'editar_campana':True,
        'borrar_campana':True,
        'ver_campana':True,
    }

----- in decorators.py ------

from

[2019-04-30 17:04] ferrada01 commented on #100
I used the standard users  model that Django have

[2019-05-01 08:50] StefanoFioravanzo commented on #99
Hey @filipeximenes , just tried replacing `viewsets.ReadOnlyModelViewSet` with `generics.ListAPIView` but I get the same behavior

[2019-05-09 13:45] ferrada01 commented on #100
Solved, the problem was a double atribute passed to the view.

solution: pass only "request"

[2019-05-09 14:35] ferrada01 opened #101 "it is possible to authenticate the role within the template ?"
I want to hide some html structures ( buttons and text )

[2019-05-09 19:59] ferrada01 commented on #101
**Template tags**

To load template tags use:

{% load permission_tags %}

*filter* has_role

Receives a camel case representation of a role or more than one separated by coma.

{% load permission_tags %}
{% if user|has_role:'doctor,nurse' %}
    the user is a doctor or a nurse
{% endif %}

*filter* can

Role permission filter.

{% load permission_tags %}
{% if user|can:'create_medical_record' %}

[2019-05-20 11:17] #100 closed

[2019-05-23 20:18] #101 closed

[2019-06-28 16:57] finnertysea opened #102 "Object checkers can't be unit tested"
register_object_checker decorator returns None meaning the checkers can't be unit tested. I think this could be easily fixed by returning `func` from function_decorator.
[code]
I'm happy to submit a pull request with a test case if this makes sense.

[2019-07-12 17:28] filipeximenes commented on #102
Good point, yes please feel free to submit a PR. Thanks!

[2019-08-11 12:06] hoffmka opened #104 "Checker with name access_trial was not registered"
Hello, I'm trying to implement the object checker permissions function and have problems with registration. I added the file permissions.py to my app. (**myproject/apps/my_app/permissions.py**)
Here is the content of this file:

`from rolepermissions.permissions import register_object_checker
from predictDemo.roles import SystemAdmin

@register_object_checker()
def access_trial(role, user, trial):

[2019-08-25 17:54] DanishAbsar opened #105 "Mixin Model conflecting with django-role-permissions"
Django 2.2.1
python 3.7.3

pip
django-role-permissions 2.2.1
django-simple-email-confirmation 0.60

![](https://user-images.githubusercontent.com/18595466/63207035-52be0100-c0dd-11e9-8300-851f9db0e147.png)

[2019-09-09 19:56] filipeximenes commented on #104
Hi @hoffmka sorry for taking long to get back to you. Can you confirm that "my_app" is registered in the `INSTALLED_APPS` setting?

[2019-09-10 09:34] hoffmka commented on #104
Thank you for your feedback! I can confirm that "apps.my_app" is registered in the INSTALLED_APPS setting. The app "my_app" is located in a subfolder "apps". But that doesn't seem to be the problem. I've tried this without a subdirectory.

[2019-09-10 10:04] hoffmka commented on #104
Thank you, your comment has steered me in the right direction. I forgot to import the permissions. --> **from apps.myapps import permissions**
It works now!

[2019-09-10 11:28] filipeximenes commented on #104
Awesome! Closing the ticket!

[2019-09-10 11:28] #104 closed

[2019-09-25 19:13] mezitax opened #106 "Is there a way to filter the users of a particular role from the model?"
I explain:
In my model I have something like this:
`teacher = models.ForeignKey (settings.AUTH_USER_MODEL)`
I wish the ForeignKey could select only users with the role of "teacher"

[2019-10-21 09:05] privateuly opened #107 "Add filter in ListView"
The permission decorator / mixin seems to only return True/False.  I would like to pass object filter to limit what records a user can view in ViewList class.  For example, in the case of doctor users, each doctor can only views patients.objects.filter(doctor==request.user)

[code]
Should I create a second decorator after @has_permission_decorator to accomplish that?

Thanks!

[2019-10-21 17:06] filipeximenes commented on #106
If I understand the question correctly, you are looking for something like this:
```User.objects.filter(groups__name="teacher")```

Would this solve your problem?

[2019-10-21 17:12] filipeximenes commented on #107
Hi @privateuly, could you develop this further? I'm not sure i understand your question

[2019-10-22 01:35] privateuly commented on #107
Hi @filipeximenes,  sorry I wasn't clear.  Please bear with me as I am new to the django permissioning concept.

My understanding of this django-role-permissions is that it is used to restrict access to CRUD actions on a per object basis.  How about ListView?  I would like to restrict (ie. filter) list access depending on some logic.  For instance, doctors can only pull up a list of clients that a

[2019-10-22 14:06] privateuly commented on #107
I found what a discussion of what I was looking for here https://github.com/dfunckt/django-rules/issues/40.  It's clear to me now that what I have in mind is outside the scope of this project, so I am just going to close this issue.  Thanks again!

[2019-10-22 14:06] #107 closed

[2019-12-26 10:17] AlexByte opened #108 "can i use function user.has_perm for checking permissions?"
For example `user.has_perm('sites.change_site', object)`

[2019-12-26 10:26] AlexByte commented on #108
Why this function is not implemented as in django-guardian?

[2020-01-23 07:22] MiltosD opened #109 "has_role_decorator catch exception"
I am trying to use this package with rest framework. However, the "has_role_decorator" function raises an exception when the user does not have the role, as expected. Is it possible to catch this exception in my ViewSet in order to return a "Permission Denied" REST response?

[2020-01-23 12:20] MiltosD commented on #109
I suppose overriding HasRoleMixin.dispatch could work, however, I cannot seem to handle read_only if has_role_decorator fails

[2020-01-24 13:15] filipeximenes commented on #109
Hi @MiltosD, what do you mean by `read_only`? Could you check for the request method before suppressing the exception or not?

[2020-01-24 13:19] filipeximenes commented on #108
Hi @AlexByte sorry for the delay. `django-role-permissions` does not handles permissions using the plain default django permissions framework. Role information is considered in the process that's why you can't use the `has_perm` method.
I'm going to close this for now, LMK if you have other questions

[2020-01-24 13:19] #108 closed

[2020-03-25 04:12] mezitax commented on #106
thank you, I forgot to close this issue
That's what I was referring to, but at the model level.
Finally, for practical purposes, I created a proxy user model for users who belong to the teacher group

[2020-03-25 04:12] #106 closed

[2020-03-25 04:34] mezitax opened #111 "Is there a way to call 2 different roles.py from sync_roles?"
I am using role-permissions on a multi tenant system. For the shared tenant I run sync_roles at the beginning of the migrations and for each tenant sync_roles is run programmatically to create different groups from the first ones.
At this time the app creates the same groups at the public and tenant levels.
How could I run to 2 different roles.py?

[2020-03-25 13:15] iurisilvio opened #112 "permissions with default false are never created"
Is it expected behaviour? How can I create these permissions to be able to give permissions manually on admin?

https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/roles.py#L149-L157

[2020-03-27 14:29] filipeximenes commented on #112
@iurisilvio yes, this is expected. They are only created in the first time they are needed. You can use `grant_permission` to do it in the first time and then it should be available in the admin

[2020-03-27 14:31] filipeximenes commented on #111
Currently this is not supported by the lib

[2020-03-28 21:04] iurisilvio commented on #112
The problem with this behaviour is I need a manual step before I use the permission in admin.

Do you consider a flag to sync these false values too? Something like `sync_roles --all-permissions`?

I can work on that if it makes sense for the project.

I'll do it for my project anyway.

[2020-03-30 12:51] filipeximenes commented on #112
Yes, that sounds like a good idea!

[2020-03-30 14:10] iurisilvio commented on #112
I opened a pull request with these changes.

[2020-04-05 20:25] guettli opened #114 "Queryset of all objects which a particular user may access?"
Is it possible to get a queryset of all objects which a particular user may access?

[2020-04-15 20:01] Izcarmt95 opened #115 "Create Dynamically roles"
Hi,  I have a question.

I have been using this library with roles classes, but  I have a problem that I want to create  roles through  user interfaces, and this interfaces has some fields like:
- name role
-  Select list with permissions.

My question is, Can I create roles and saving in DB and use them with a generic class  ?

[2020-04-17 03:15] shahzad-mycroft opened #116 "sync_roles --reset_user_permissions taking too much time"
Hi, I am using this package in my project based on DRF. There are multiple user roles and multiple permissions for each API endpoint.

I have about 15000 users in the database. When I run `sync_roles --reset_user_permissions` it's taking too much time, especially on the server. Is there any way to quickly run this?

[2020-04-18 06:25] joshuakoh7 commented on #115
I'm interested in this as well. My understanding is that if you have a dynamic list you would have to do a reload after every update?

[2020-04-20 04:09] Izcarmt95 commented on #115
Yeah , I want to create roles throught interfaces but in this moment the role are just creating hardcoded with classes and every time I want to create roles I am needing write the rol class and after reload that update

[2020-05-06 09:05] sorkhemiri opened #117 "permissions added to role are not assigned automatically to user"
i added a role to user in admin panel but role's permissions didn't add to user permissions. i wonder if it's an issue, or should i add the permission to user my self. whats the logic behind this.

[2020-05-06 10:23] sorkhemiri commented on #117
you should inherent from ``RolePermissionsUserAdminMixin`` in your admin model or set ``ROLEPERMISSIONS_REGISTER_ADMIN`` to **True** in your ``settings.py`` file. [more...]("https://github.com/vintasoftware/django-role-permissions/blob/master/rolepermissions/admin.py")

[2020-05-06 10:24] #117 closed

[2020-05-06 14:14] UrK opened #118 "Does not work with transactions?"
The following code fails when trying to assign role to user with the following error: _django.db.utils.OperationalError: (1305, 'SAVEPOINT s4590886336_x1 does not exist')_

This does not play well with `django.test.TestCase` in addition to the fact that using transactions in regular code and not only tests causes this to fail.

[code]

[2020-05-06 14:36] UrK commented on #116
IMHO, that's why the following appears in documentation:
https://django-role-permissions.readthedocs.io/en/stable/admin.html:

It loops over all the users in the database resetting their permissions. That's why it takes such a long time.

[2020-05-20 16:40] filipeximenes commented on #116
Sorry for the delay folks. Yep @UrK is right, this is not production ready command. I'm closing this issue, fell free to reopen in case you think there's something we can do here.
Stay safe :)

[2020-05-20 16:40] #116 closed

[2020-05-20 16:45] filipeximenes commented on #118
Thanks @UrK did you happen to trace the underlying issue? Any additional information on how we can fix this?

[2020-05-20 16:48] filipeximenes commented on #115
Hi folks, dynamic roles is not something that is [officially] supported in the lib. If you managed to get this going please let me know and I can check if this is something we'd like to support in future versions. For now I'm closing this issue, feel free to reopen it in case you want to discuss this further.
Stay safe!

[2020-05-20 16:48] #115 closed

[2020-05-20 16:52] filipeximenes commented on #114
Hi @guettli, sorry for the delay, the approach we take in this lib is more focused on users roles than object access permission. That said it's possible to write custom logic to check for object access permission but we don't deal with single object permission. So to answer your question, no it's not possible to get that queryset. I'm closing this issue for now, LMK in case you have further questi

[2020-05-20 17:01] #112 closed

[2020-05-20 19:01] UrK commented on #118
Sorry for not closing this. Seems like a problem with Django and MySQL connector.

https://stackoverflow.com/questions/61747732/django-nested-transaction-atomic-throw-integrityerror-savepoint-does-not-exist

[2020-05-20 19:02] #118 closed

[2020-05-27 17:42] iurisilvio commented on #61
Anyone working on it?

It is a real problem here, I can create a setting to change this behaviour.

[2020-05-27 18:00] kavdev commented on #61
@iurisilvio I think that would be awesome. I'm no longer working on the project that uses this library, but I'll be happy to give it a review. I might be integrating this into a new project soon.

[2020-07-21 21:31] rico-ci opened #120 "Creating roles dynamically"
Hi there,
I'm currently evaluating this plugin and wanted to know whether there's any way to programmatically generate roles? For example, what if I want users to be able to create new roles for other users. Would that use-case be covered? I can't find anything in the docs on whether that's possible or not.

Cheers

[2020-07-23 18:35] filipeximenes commented on #120
Hi @rico-ci, we currently do not support this. There's  some discussion about it here: https://github.com/vintasoftware/django-role-permissions/issues/115

I'll close this ticket for now, feel free to reopen it in case you have more questions or just comment in that other issue :)

[2020-07-23 18:35] #120 closed

[2020-07-23 18:54] filipeximenes commented on #61
Thanks folks! PR has been merged and it's on PyPI under version 3.1.0!

[2020-07-23 18:54] #61 closed

[2020-08-13 16:01] cobyrne09 commented on #99
I had a similar issue (or the same issue), and I fixed it by enabling session authentication as well as token authentication. Without digging much into it, my guess is that the HasRoleMixin is trying to access the user via the session information, and getting anonymous user.

I was using django-rest-auth and had a setting `REST_SESSION_LOGIN = False`. When I set that to `True`(which initiates a se

[2020-09-01 08:51] sandeepbalagopal09 opened #121 "Different permission for DRF CRUD"
I am looking for a solution to check the permission in ModelViewSet so that each of Create, Read, Update and Delete permissions are checked separately.

That is, say if somebody trying to access the api for create an object on `MyModel`, then the permission should check for django's inbuilt add_mymodel permission. I have a role create with this permission added to it. But couldn't find an option t

[2020-09-08 18:34] filipeximenes commented on #121
We currently don't support this. You'd need to write a custom solution for it. Happy to discuss in case you want to propose a solution to be merged.

[2020-09-30 18:27] eeintech commented on #97
Same issue here, `./manage.py sync_roles` works but `django-admin sync_roles` does not as it fails to import the project settings, I've tried the [few tricks from the Django docs](https://docs.djangoproject.com/en/3.1/topics/settings/#the-django-admin-utility) but no luck. I never use `django-admin` so not sure where is the problem.

Maybe update to `manage.py` method or add note to your docs?
htt

[2020-11-17 07:57] suryaajha opened #125 "User hierarchy and role inheritance"
Is there any way where I can use this project to have user hierarchy in my project
I want to design an application where I have the following hierarchy
                                      Viewer
                                          |
                     Editor                         Approver
                        |                                     |

[2020-11-17 08:16] suryaajha opened #126 "HasPermissionsMixin no multiple permission support in required_permission"
After going through some source I figured out that we are not supporting checking multiple permissions in required_permission.
However we do support multiple roles checking in HasRoleMixin, It would be a great addition if we start supporting multiple permissions like Django permission_required attribute in PermissionRequiredMixin

[2020-12-26 12:24] simeon49 opened #127 "Can I do this with this git project?"
Hello everyone, we have the following requirements recently.

in departmet/models.py
[code]

in customer_resources/models.py
[code]

I want create a manager group for department A, the one who is in this group can "view", "change", ... all the customer resources that belong to department A.

[code]
Can I do this with this git project?

[2020-12-29 09:19] simeon49 commented on #127
any one help?

[2020-12-29 20:59] filipeximenes commented on #125
You can configure role permissions "manually" to reflect that but there's no builtin support to assist with managing this

[2020-12-29 21:04] filipeximenes commented on #126
Cool, that does makes sense. One caveat is to decide [and make clear to developers] on how it will work. Eg:
- view requires permission1 AND permission2
- view requires permission1 OR permission2

[2020-12-29 21:10] filipeximenes commented on #127
Hi @simeon49, yes, I believe this project is capable of doing something like what you described. But that's pretty what most permission libraries you find [including the default django permissions tooling] will do, so I suggest you study the docs and play with the library before you decide if it fits your needs

[2020-12-30 02:40] simeon49 commented on #127
Thank you

[2020-12-30 06:52] anmolbk opened #128 "Can role classes be created dynamically?"
To enable users to create arbitrary roles as they require, I think the role classes need to be created dynamically. Will adding the dynamically created role classes to "roles" module work? I guess not, as the role classes seem to be loaded on startup. Any possibility to reload roles (& permissions) every time a new role class (or permission) is created?

[2020-12-30 14:08] filipeximenes commented on #127
I'm going to close this ticket for now, feel free to reopen it in case you have more questions :)

[2020-12-30 14:08] #127 closed

[2020-12-30 14:13] filipeximenes commented on #128
The lib was not designed to work with dynamic roles. You can probably hack some solution but there's a risk you have compatibility problems so I wouldn't recommend

[2020-12-31 06:03] #128 closed

[2021-01-04 15:55] fjsj commented on #102
Closed by https://github.com/vintasoftware/django-role-permissions/pull/103

[2021-01-04 15:55] #102 closed

[2021-03-19 11:32] rsb177 opened #129 "Updating roles question"
I was testing the library out to see if it would work for my project but noticed that if I add a permission to a role, it doesn't add it to anybody with the role already.  I saw the reset roles command, but it said that is only recommended for development.  What's the recommended way to handle making changes to a role for existing users?

[2021-03-19 13:45] filipeximenes commented on #129
Hi @rsb177, the only reason the command is not recommended for production is because it might be too inefficient, but of course this will vary depending on your project context. The recommended approach is to either review the code of the command and evaluate if it works in your setup or to write your own custom script.

[2021-04-15 18:59] AliD201 opened #130 "Giving user a role from the admin pages doesn't update permissions?"
Hope you are doing well.

when registering a new user in this part

        form = UserRegisterForm(request.POST)
        if form.is_valid():
            form.save() # store the user
            username = form.cleaned_data.get('username')
            messages.success(request,f'  {username}  account created succefully')
            return redirect('login')

and then adding a group to that user thr

[2021-04-19 12:34] filipeximenes commented on #130
Hi @AliD201, did you read through this section of the docs? https://django-role-permissions.readthedocs.io/en/stable/admin.html#rolepermissions-user-admin

[2021-09-26 01:27] FeralRobot opened #132 "Permission case issues with CustomUser"
Running django 2.2.5 with django-role-permissions with the django default user - I can define an "Admin" role and logging into the django admin with that "Admin" role, I can view the set of Users that "Admin" role has permission to view.

Default User
roles.py                   permission generated                            permission required
'view_user'                    'View User'

[2021-09-27 17:26] fjsj commented on #132
I'm not sure if I understand the issue correctly. Could you please share the relevant parts of you `roles.py` and what behavior you expect?

Isn't this a case where your new CustomUser model doesn't have the right permissions, as the old one?

Check https://docs.djangoproject.com/en/3.2/topics/auth/default/#default-permissions

[2021-09-27 19:10] rduke199 opened #133 "sync_roles not updating permissions for each role."
Even though I have `available_permissions` assigned in roles.py and `ROLEPERMISSIONS_REGISTER_ADMIN` set to True in settings.py, the permissions for each role are not syncing. I run `python mangage.py sync_roles` but the roles in roles.py do not have the permissions assigned to them.

[2021-11-26 22:06] valberg opened #134 "Unnecessary dependency: django-discover-runner"
According to https://pypi.org/project/django-discover-runner/ this is a part of django since 1.6. Shouldn't this be removed as a dependency?

[2021-11-27 15:03] fjsj commented on #134
Thanks for the suggestion, yes, it may be removed. We're accepting PRs too.

[2021-11-27 15:07] valberg commented on #134
Roger that! I'll submit something soon 😃

On Sat, Nov 27, 2021, at 16:03, Flávio Juvenal da Silva Junior wrote:

[2021-11-29 18:23] fjsj opened #136 "Migrate from Travis to GitHub Actions"

[2021-11-29 18:34] #134 closed

[2021-12-02 20:21] #136 closed

[2022-02-09 13:52] aaron-baby commented on #99
I have dig it a bit, IMO the root cause due to `HasRoleMixin` use Django `HttpRequest` instead of `rest_framework.Request`

**solution:**
[code]